<div class='card'>
  <div class='card-header'>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>
              <input type="button" class='btn btn-primary' (click)="Imagetoggle()" value="{{btn}}" >
              
              
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Star rating</th>
            <th>Modify</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let i of products'>
            <td ><img src= "{{i.imageUrl}}" *ngIf="flag==true" style='width:100px;height:100px' [title]='i.productName'></td>
            <td>{{i.productName}}</td>
            <td>{{i.productCode}}</td>
            <td>{{i.releaseDate}}</td>
            <td>{{i.price}}</td>
            <td>{{i.starRating}}</td>
            <td> <button (onclick)="/addproduct">EDIT</button> </td>
            <td> <button (onclick)="/delete">EDIT</button> </td>
           
            
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>